<ng-container *ngIf="rol === 'Administrador'">
  <h4 class="mt-3 text-center">Gestión de usuarios</h4>
  <div class="container">
    <div class="d-flex">
      <!-- Campo de búsqueda -->
      <div class="barra-busqueda mb-3">
        <label for="busqueda" class="form-label"> </label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Búsqueda de usuario por cédula, nombre, apellidos o rol"
            id="busqueda"
            [(ngModel)]="filtro"
            (input)="realizarBusqueda()"
          />
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
      <nav class="mb-5 navbar">
        <div class="d-flex align-items-end pt-4">
          <form class="d-flex" role="search">
            <ng-container *ngIf="rol === 'Administrador'">
              <button
                type="button"
                class="btn btn-success custom-btn"
                (click)="llenarTabla()"
              >
                <i class="fa-solid fa-arrows-rotate"></i>
              </button>
              <button
                type="button"
                class="btn btn-success custom-btn"
                [routerLink]="['/agregarEmpleado']"
              >
                <i class="fa-solid fa-user-plus"></i>
              </button>
            </ng-container>
          </form>
        </div>
      </nav>
    </div>

    <div class="table-container">
      <div class="table-responsive">
        <table class="table table-hover custom-table">
          <thead class="thead-dark">
            <tr>
              <th class="custom-table text-center columnaCedula" scope="col">
                Cédula
              </th>
              <th class="custom-table text-center columnaNombre" scope="col">
                Nombre
              </th>
              <th class="custom-table text-center columnaApellidos" scope="col">
                Apellidos
              </th>
              <th class="custom-table text-center columnaRol" scope="col">
                Rol
              </th>
              <th class="custom-table text-center columnaAccion" scope="col">
                Acción
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let usuario of usuariosFiltrados || getPaginatedUsers();
                let i = index
              "
            >
              <td>{{ usuario.cedula }}</td>
              <td class="columnaNombre">{{ usuario.nombre }}</td>
              <td class="columnaApellidos">
                {{ usuario.primerApellido }} {{ usuario.segundoApellido }}
              </td>
              <td class="columnaRol">{{ usuario.rol }}</td>
              <td class="columnaAccion text-center">
                <i
                  class="mr-2 fa-solid fa-eye icono"
                  (click)="verInformacionUsuario(usuario)"
                ></i>
                <i
                  class="mr-2 fa-regular fa-pen-to-square icono"
                  (click)="mostrarInformacionUsuario(usuario)"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <button
          *ngFor="let page of getPaginationArray()"
          [class.active]="page === currentPage"
          (click)="changePage(page)"
        >
          {{ page }}
        </button>
      </div>
    </div>
  </div>












  
  <div class="container">
    <p-table
    #dt1
    [value]="customers"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
>
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="min-width:10rem">
                <div class="flex align-items-center">
                    Cedula
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                </div>
            </th>
            <th style="min-width:10rem">
                <div class="flex align-items-center">
                    Nombre
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                </div>
            </th>
            <th style="min-width:10rem">
                <div class="flex align-items-center">
                    Apellidos
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                </div>
            </th>
            <th style="min-width:10rem">
                <div class="flex align-items-center">
                    Rol
                    <p-columnFilter field="status" matchMode="equals" display="menu">
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                              <ng-template let-option pTemplate="item">
                                  <p-tag [value]="option.value" [severity]="getSeverity(option.label)"></p-tag>
                              </ng-template>
                          </p-dropdown>
                      </ng-template>
                  </p-columnFilter>
                </div>
            </th>
            <th style="min-width:10rem">
                <div class="flex align-items-center">
                    Activo
                    <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
                </div>
            </th>
        </tr>


    </ng-template>
    <ng-template pTemplate="body" let usuario of usuariosFiltrados>
      
      <tr
      *ngFor="
        let usuario of usuariosFiltrados;
        let i = index
      "
        >

            <td>
                {{ usuario.cedula}}
            </td>
            <td>
                <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" style="width: 20px" />
                <span class="ml-1 vertical-align-middle">{{ customer.country.name }}</span>
            </td>
            <td>
                <img [alt]="customer.representative.name" src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ customer.representative.image }}" width="32" style="vertical-align: middle" />
                <span class="ml-1 vertical-align-middle">{{ customer.representative.name }}</span>
            </td>
            <td>
                {{usuario.cedula}}
            </td>
            <td>
                {{ customer.balance | currency: 'USD':'symbol' }}
            </td>
            <td>
                <p-tag [value]="customer.status" [severity]="getSeverity(customer.status)"></p-tag>
            </td>
            <td>
                <p-progressBar [value]="customer.activity" [showValue]="false"></p-progressBar>
            </td>
            <td class="text-center">
                <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': customer.verified, 'text-red-500 pi-times-circle': !customer.verified }"></i>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No customers found.</td>
        </tr>
    </ng-template>
</p-table>
  </div>
</ng-container>
