/* Estilo para las celdas de encabezado de la tabla */
.Roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

thead.thead-dark th {
  background-color: #136137;
  color: #fff;
}

/* Estilo para las celdas de datos de la tabla */
tbody tr td {
  color: #000000d0;
}

.cursor {
  cursor: pointer;
}

.pagination {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  width: 200px;
  border-radius: 9999px;
  overflow: hidden;
  margin: 0 auto;
}

.pagination button {
  flex: 1;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  border: none;
}

.pagination .active {
  color: #fff;
  background-color: rgb(19, 97, 55);
}

.btn-success {
  background-color: #136137;
}

.table-responsive {
  width: 100%;
  height: 100%;
}

.table-container {
  width: 100%;
  height: 100%;
}

.custom-table {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.columnaCedula {
  width: 4rem;
}

.columnaNombre {
  width: 8.2rem;
  border-left: 1px solid #dee2e6;
}

.columnaApellidos {
  width: 8.2rem;
  border-left: 1px solid #dee2e6;
}

.columnaRol {
  width: 5.6rem;
  border-left: 1px solid #dee2e6;
}
.columnaAccion {
  width: 4.4rem;
  border-left: 1px solid #dee2e6;
}

.barra-busqueda {
  width: 100%;
}

.custom-btn {
  background: #136137;
  text-decoration: none !important;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px 10px;
  display: inline-block;
  border-radius: 50px;
  transition: background-color 0.3s ease; /* Agrega una transición suave */
}

.custom-btn:hover {
  background: #0d4821; /* Cambia el color de fondo al pasar el mouse */
}
.icono {
  font-size: 19px; /* Tamaño inicial del icono */
  transition: transform 0.2s; /* Agrega una transición suave */
  cursor: pointer; /* Cambia el cursor a una mano al pasar el mouse */
}

.icono:hover {
  transform: scale(1.2); /* Agrandar el icono al pasar el mouse */
}
