<ng-container *ngIf="rol === 'administrador'; or: rol === 'usuario'">
  <ng-container *ngIf="mostrarSideNav">
    <div class="sidebar-nav">
      <nav class="navbar navbar-dark fixed-top">
        <div class="container">
          <!-- Mobile Menu Toggle Button -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Menus List -->
          <div
            class="offcanvas offcanvas-start shadow"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div
              class="marca d-flex flex-row justify-content-center align-items-center"
            >
              <img
                src="../../../assets/imagenes/Escudo.png"
                class="pr-2 pt-3"
                style="width: 40px"
                alt="Escudo"
              />
              <h1 class="titulo Roboto">SGBI</h1>
            </div>

            <div class="offcanvas-body">
              <ul class="navbar-nav">
                <li class="" *ngFor="let data of navData">
                  <ng-container *ngIf="tienePermiso(data.permiso)">
                    <a
                      href=""
                      [routerLink]="[data.routeLink]"
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="{ exact: true }"
                    >
                      <i class="bi" [class]="data.icon" style="color: white">
                        <span class="item-text pl-3" style="font-family: 'Roboto', sans-serif;">{{
                          data.label
                        }}</span>
                      </i>
                    </a>
                  </ng-container>
                </li>
              </ul>
            </div>
          </div>
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-user" style="color: white"></i>
              <span class="pl-2" style="color: white"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" 
                ><i class="fas fa-key pr-2"></i>Cambiar contraseña</a
              >
              <button (click)="cerrarSesion()" class="dropdown-item">
                <i class="fa-solid fa-right-from-bracket"></i>
                Cerrar sesión
              </button>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </ng-container>
</ng-container>
