<div class="modal-header">
  <h4 class="modal-title">Información del usuario <strong>{{usuario.nombre}}</strong></h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <p><strong>Cédula:</strong> {{ usuario.cedula }}</p>

  <!-- Nombre -->
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" [(ngModel)]="usuario.nombre" name="nombre">
  </div>

  <!-- Apellidos -->
  <div class="form-group">
    <label for="primerApellido">Primer Apellido</label>
    <input type="text" class="form-control" id="primerApellido" [(ngModel)]="usuario.primerApellido"
      name="primerApellido">
  </div>

  <div class="form-group">
    <label for="segundoApellido">Segundo Apellido</label>
    <input type="text" class="form-control" id="segundoApellido" [(ngModel)]="usuario.segundoApellido"
      name="segundoApellido">
  </div>

  <!-- Correo -->
  <div class="form-group">
    <label for="correo">Correo</label>
    <input type="text" class="form-control" id="correo" [(ngModel)]="usuario.correo" name="correo">
  </div>

  <!-- Rol -->
  <div class="form-group">
    <label for="roleDropdown">Rol:</label>
    <!-- <select class="form-control" id="roleDropdown" (change)="cambiarRol($event.target.value)">
      <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
    </select> -->
    <app-role-dropdown [selectedRole]="selectedRole" (roleSelected)="selectedRole = $event"></app-role-dropdown>
  </div>

  <!-- <p><strong>Estado:</strong> {{ usuario.estado }}</p> --> <!-- No muestra el estado de los usuarios  -->

  <!-- Estado -->
  <!-- lo nuevo para el estado, falta poder jalar del backend el estado y mostrar ese estado del usuario, y tambien poder cambiar su estado -->
  <div class="form=form">
    <label for="estadoDropdown">Estado:</label>
    <app-estado-dropdown [estadoSeleccionado]="usuario.estado"
      (estadoSeleccionadoOutput)="actualizarEstadoUsuario($event, usuario)"></app-estado-dropdown>
  </div>

</div> <!-- fin de modal-body -->

<!-- botones cerrar y guardar -->
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
  <button type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar</button>
</div>