<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-4 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Activacion de cuenta</h3>
          </div>

          <div class="panel-body p-3">
            <form [formGroup]="resetForm">
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    resetForm.get('contrasena').touched &&
                    resetForm.get('contrasena').invalid
                  "
                >
                  <span class="fa fa-lock p-2"></span>
                  <input
                    formControlName="contrasena"
                    [type]="type"
                    placeholder="Contraseña"
                  />
                  <span
                    (click)="hideShowPass()"
                    class="fa {{ eyeIcon }}"
                  ></span>
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    resetForm.get('contrasena').touched &&
                    resetForm.get('contrasena').invalid
                  "
                >
                  {{ obtenerErrorCampoContrasena() }}
                </small>
              </div>
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    resetForm.get('confirmarContrasena').touched &&
                    resetForm.get('confirmarContrasena').invalid
                  "
                >
                  <span class="fa fa-lock p-2"></span>
                  <input
                    formControlName="confirmarContrasena"
                    [type]="type"
                    placeholder="Confirmar contraseña"
                  />
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    resetForm.get('confirmarContrasena').touched &&
                    resetForm.get('confirmarContrasena').invalid
                  "
                >
                  {{ obtenerErrorCampoConfirmarContrasena() }}
                </small>
              </div>

              <button
                (click)="reset()"
                type="submit"
                class="btn btn-primary btn-block mt-4 w-100"
              >
                Cambiar Contraseña
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
