<nav class="mb-5 navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand">Sistema de gestión</a>
    <div class="d-flex align-items-center">
      <a class="mb-0 mr-4">Hola, {{ nombreCompleto }}</a>
      <form class="d-flex" role="search">
        <button class="btn btn-danger" (click)="cerrarSesion()">
          Cerrar sesión
        </button>
        <button
          *ngIf="rol === 'administrador'"
          type="button"
          data-toggle="modal"
          data-target="#agregarEmpleado"
          class="btn btn-success ml-3"
        >
          Agregar Empleado
        </button>
      </form>
    </div>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="agregarEmpleado"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog custom-modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-signup></app-signup>
      </div>
    </div>
  </div>
</div>

<!--Tabla de usuarios-->

<div *ngIf="rol === 'administrador'" class="container">
  <h4 class="text-center">Lista de usuarios</h4>
  <br />
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Cédula</th>
          <th scope="col">Correo</th>
          <th scope="col">Rol</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apellido }}</td>
          <td>{{ usuario.cedula }}</td>
          <td>{{ usuario.correo }}</td>
          <td>{{ usuario.rol }}</td>
          <td>
            <button type="button" class="btn btn-outline-success ml-3 mr-3">
              Editar
            </button>
            <button type="button" class="btn btn-outline-danger ml-3 mr-3">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
