<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-body p-3">
            <form class="form" [formGroup]="signupForm">
              <p class="title">Registrar a un Usuario</p>
              <div class="form-group pt-3 flex">
                <div class="input-field" [class.error]="
                    signupForm.get('nombre').touched &&
                    (signupForm.get('nombre').hasError('nombreInvalidoLower') ||
                      signupForm
                        .get('nombre')
                        .hasError('nombreInvalidoSpecial'))
                  ">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="nombre" type="text" placeholder="Nombre" />
                </div>
              </div>

              <small class="text-danger" *ngIf="
                  signupForm.get('nombre').touched &&
                  signupForm.get('nombre').hasError('nombreInvalidoLower')
                ">
                <ng-container *ngIf="
                    signupForm.get('nombre').hasError('nombreInvalidoLower')
                  ">
                  La primera letra debe ser mayúscula.
                </ng-container>
              </small>

              <small class="text-danger" *ngIf="
                  signupForm.get('nombre').touched &&
                  signupForm.get('nombre').hasError('nombreInvalidoSpecial')
                ">
                <ng-container *ngIf="
                    signupForm.get('nombre').hasError('nombreInvalidoSpecial')
                  ">
                  El nombre no debe contener números ni caracteres especiales.
                </ng-container>
              </small>

              <!-- APELLIDO -->
              <div class="form-group pt-3 flex">
                <div class="input-field" [class.error]="
                    signupForm.get('apellido').touched &&
                    (signupForm
                      .get('apellido')
                      .hasError('apellidoInvalidoLower') ||
                      signupForm
                        .get('apellido')
                        .hasError('apellidoInvalidoSpecial'))
                  ">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="apellido" type="text" placeholder="Apellido" />
                </div>
              </div>

              
              <small class="text-danger" *ngIf="
                  signupForm.get('apellido').touched &&
                  signupForm.get('apellido').hasError('apellidoInvalidoLower')
                ">
                <ng-container *ngIf="
                    signupForm.get('apellido').hasError('apellidoInvalidoLower')
                  ">
                  La primera letra debe ser mayúscula.
                </ng-container>
              </small>

              <small class="text-danger" *ngIf="
                  signupForm.get('apellido').touched &&
                  signupForm.get('apellido').hasError('apellidoInvalidoSpecial')
                ">
                <ng-container *ngIf="
                    signupForm
                      .get('apellido')
                      .hasError('apellidoInvalidoSpecial')
                  ">
                  El apellido no debe contener números ni caracteres especiales.
                </ng-container>
              </small>

              <!-- CEDULA  -->
              <div class="form-group pt-3">
                <div class="input-field" [class.error]="
                    signupForm.get('cedula').touched &&
                    signupForm.get('cedula').invalid
                  ">
                  <span class="fa fa-id-card p-2"></span>
                  <input formControlName="cedula" type="text" placeholder="Cédula" />
                </div>
                <small class="text-danger" *ngIf="signupForm.get('cedula').hasError('caracteresNoNumericos')">
                  La cédula debe contener solo números.
                </small>
                <small class="text-danger" *ngIf="signupForm.get('cedula').hasError('longitudInvalida')">
                  La cédula debe tener exactamente 9 números.
                </small>
              </div>
              
              <!-- <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle w-100"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Rol
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">usuario</a>
                  <a class="dropdown-item">administrador</a>
                  <a class="dropdown-item">jefe</a>
                </div>
              </div> -->

              <!-- CORREO -->
              <div class="form-group pt-3">
                <div class="input-field" [class.error]="
                    signupForm.get('correo').touched &&
                    signupForm.get('correo').invalid
                  ">
                  <span class="fa fa-envelope p-2"></span>
                  <input formControlName="correo" type="text" placeholder="Correo" />
                </div>
              </div>

              <small class="text-danger" *ngIf="signupForm.get('correo').hasError('correoInvalido')">
                El correo debe tener un formato válido:
                <br>
                alguien@ejemplo.com
              </small>
              

              <button (click)="onSignup()" [ngClass]="desactivarBoton()" type="submit"
                class="btn btn-primary btn-block mt-4 w-100">
                Registrar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>