*{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.pop-up{
    width: 200px;
    height: 200px;
}

.titulo{
    margin-top: 1rem;
    text-align: center;
}

.botones{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 2rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
}

.boton{
    padding-left: 3rem;
    width: 20px;
}

.botonSi{
    width: 46px;
}