<div>
  <div class="titulo">
    <h3>¿Está seguro de realizar los cambios?</h3>
  </div>
  <div class="botones">
    <div class="d-flex">
      <button
        type="button"
        class="btn btn-outline-danger ml-3"
        (click)="cancelar()"
      >
        No
      </button>
      <div class="boton">
        <button
          type="button"
          class="botonSi btn btn-outline-success ml-1 mr-3"
          (click)="confirmar()"
        >
          Sí
        </button>
      </div>
    </div>
  </div>
</div>
