.sidebar-nav {
  margin-bottom: 3.5rem;
}
.sidebar-nav ul li a {
  font-size: 26px;
  text-decoration: none;
  display: block;
  padding: 6px 10px;
}
.offcanvas {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sidebar-nav ul li a:hover {
  background-color: #082c18;
  border-radius: 25px;
}
.sidebar-nav .offcanvas {
  width: 300px;
  border: none;
}
.sidebar-nav .offcanvas ul li a span {
  font-size: 18px;
  position: relative;
  top: -4px;
  transition: 0.5s;
}

.sidebar-nav .dropdown-toggle::after {
  position: relative;
  top: 3px;
}
.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  margin-right: 5px;
}

.offcanvasNavbar {
  width: 100%;
}

.sub-menu-item {
  margin-left: 20px;

  margin-bottom: 4px;
  margin-top: 4px;
}

.navbar {
  background-color: #136137;
}

.offcanvas {
  background-color: #136137;
}

.item-text {
  color: white;
}
.titulo {
  color: white;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.logoMuni {
  cursor: pointer;
}

.dropdown-toggle::after {
  color: white; /* Cambia el color de la flecha a blanco */
}

.dropdown-menu {
  background-color: rgb(233, 233, 235);
}

.marca {
  cursor: pointer;
}

.fuente {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.active {
  background-color: #082c18;
  border-radius: 25px;
}
.botonInicio {
  margin-top: 4px;
}
