/* Estilo para las celdas de encabezado de la tabla */ble
thead.thead-dark th {
  /* background-color: #136137; */
  color: #fff;
}

/* Estilo para las celdas de datos de la tabla */
tbody tr td {
  color: #000000d0;
}

.custom-modal-dialog {
  max-width: 50%;
  width: 50%;
}

.table-responsive{
  width: 100%;
  height: 100%;
}

.table-container{

  width: 100%;
  height: 100%;
  
}

.mi-td-grande {
  padding-right: 100px; /* Ajusta este valor según el tamaño deseado */
  /* Otros estilos si es necesario */
}