<div class="dropdown">
  <button
    class="boton btn dropdown-toggle botonRol"
    type="button"
    id="roleDropdown"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{ selectedRole }}
  </button>
  <div class="dropdown-menu" aria-labelledby="roleDropdown">
    <a
      class="cursor botonRol dropdown-item"
      (click)="selectRole('Administrador')"
      >Administrador</a
    >
    <a class="cursor botonRol dropdown-item" (click)="selectRole('Jefe')"
      >Jefe</a
    >
    <a class="cursor botonRol dropdown-item" (click)="selectRole('Usuario')"
      >Usuario</a
    >
  </div>
</div>
