<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="roleDropdown"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{ selectedRole }}
  </button>
  <div class="dropdown-menu" aria-labelledby="roleDropdown">
    <a class="cursor dropdown-item" (click)="selectRole('administrador')"
      >administrador</a
    >
    <a class="cursor dropdown-item " (click)="selectRole('usuario')">usuario</a>
    <a class="cursor dropdown-item " (click)="selectRole('jefe')">jefe</a>
  </div>
</div>
