<ng-container *ngIf="rol === 'administrador' || rol == 'jefe'">
    <header class="text-center">
        <h3>Tarifa servicio de recolección de basura</h3>
    </header>

    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Agregar la tarifa de servicio de recolección de basura.</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Histórico.</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                <form [formGroup]="tarifaRecoleccionBasuraForm" (ngSubmit)="enviar()">

                    <div class="card flex flex-wrap gap-3 p-fluid mt-2 bg-card pb-3 pt-2 ">
                        <div class="d-flex flex-column mt-3">
                            <label class="block font-bold mb-2 pb-2" for="currency-us">Ingrese la tarifa de servicio de recolección de basura.</label>
                            <p-inputNumber formControlName="tarifaRecoleccionBasura" placeholder="Monto a exonerar" inputId="currency-us" mode="currency" currency="CRC" [minFractionDigits]="2"> </p-inputNumber>
                        </div>
                    </div>

                    <span style="color: red;" class="mt-2"
                        *ngIf="this.tarifaRecoleccionBasuraForm.get('tarifaRecoleccionBasura') 
                        && this.tarifaRecoleccionBasuraForm.get('tarifaRecoleccionBasura').invalid && 
                        this.tarifaRecoleccionBasuraForm.get('tarifaRecoleccionBasura').touched">
                        {{obtenerErrorCampoMonto()}}
                    </span>

                    <div class="d-flex flex-column align-items-end">
                        <button type="submit" [disabled]="tarifaRecoleccionBasuraForm.invalid" (click)="onTarifaRecoleccionBasura()"
                            class="btn btn-success mt-3">
                            <i class="fa-solid fa-check"></i>
                        </button>
                    </div>

                </form>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col" class="bg-color-tabla-tarifa-aseo-vias-sitios-publicos color-titulo">Agregado por</th>
                            <th scope="col" class="bg-color-tabla-tarifa-aseo-vias-sitios-publicos color-titulo">Año</th>
                            <th scope="col" class="bg-color-tabla-tarifa-aseo-vias-sitios-publicos color-titulo">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Yesenia</th>
                            <td>2021</td>
                            <td>17.973.000,00</td>
                        </tr>
                        <tr>
                            <th scope="row">Ericka</th>
                            <td>2022</td>
                            <td>17.973.000,00</td>
                        </tr>
                        <tr>
                            <th scope="row">Vinicio</th>
                            <td>2023</td>
                            <td>17.973.000,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>