.container{
    margin-top: 2.5rem;
    border: 2px solid #b3b3b3; /* Cambia #000 al color que desees para el borde */
    border-radius: 10px;
    padding: 10px; /* Añade un espacio alrededor del contenido dentro del contenedor */
    background-color: rgb(248, 248, 248);
}
.contenedor-elementos {
    display: flex;
    flex-direction: row; /* Establece la dirección de los elementos en columna */
    align-items: flex-start; /* Alinea los elementos al comienzo del contenedor (opcional) */
}

.icono-divisa{
    width: 40px;
}

.contenedor-monto{
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.monto{
    position: relative;
    width: 350px;
}

@media (max-width: 768px) {
    .contenedor-elementos{
        flex-direction: column;
        align-items: start;
    }
    .monto{
        width: 300px;
    }
}

.btn-success{
    background-color: #136137;
    width: 50px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 10px;
    display: inline-block;
    border-radius: 50px;
    transition: background-color 0.3s ease; /* Agrega una transición suave */
}